<launch>
  <node pkg="rosbag" type="play" name="starfinder" required="true" args="/home/lzuehsow/catkin_ws/src/StarFinder/rosbags/x_2_y_3_t_0.bag"/>
  <node name="extractStars" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
  	<param name="image_transport" value="compressed"/>
    <remap from="image" to="/camera/image_raw"/>
  </node>
</launch>